<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-background-light has-navbar-fixed-top">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

<!-- aqui va el head -->
<head th:replace="layout/head :: head"></head>

<body>
<main>


  <!-- aqui va el nav -->
  <nav th:replace="layout/nav :: nav"></nav>

  <section class="section">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="content">

            <h4 class="title has-text-centered is-4">CONSULTAR ALUMNOS</h4>
            <hr class="dropdown-divider">

            <!-- AQUI VA EL CONTENIDO DE CAMBIA -->


            <form th:action="@{/alumno/consultar}" method="get">
              <section class="section">
                <div class="columns">
                  <div class="column is-2 is-offset-2">
                    <label>Grado y sección:</label>
                  </div>
                  <div class="column is-3">
                    <div class="select is-small is-fullwidth">
                      <select id="grado-seccion" name="gradoseccion">
                        <option value=""
                                th:attrappend="selected=${seleccion eq null? 'selected' : ''}">
                          TODOS
                        </option>
                        <option th:each="s: ${grados}" th:value="${s.idSeccion}"
                                th:text="${s.descripcionGrado +' '+ s.descripcionSeccion}"
                                th:attrappend="selected=${seleccion eq s.idSeccion ? 'selected' : ''}">
                        </option>
                        <option value="0"
                          th:attrappend="selected=${seleccion eq 0 ? 'selected' : ''}">
                          SIN ASIGNACIÓN
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="column">
                    <button class="button is-link is-small is-rounded" title="Consultar alumnos"
                            type="submit">
                      <i class="fas fa-list mr-1"></i>Listar alumnos
                    </button>
                  </div>
                </div>
              </section>
            </form>



              <div class="table-container">
                <table id="tbl-alumnos" class="table display" style="width:100%">
                  <h5 class="subtitle is-5 my-6">Datos del alumno</h5>
                  <thead class="is-narrow">
                  <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Asistencia</th>
                    <th>Grado</th>
                    <th class="has-text-right">Opciones</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr >
                    <td >#</td>
                    <td>123</td>
                    <td >Juan</td>
                    <td >Valdez</td>
                    <td >100%</td>
                    <td >Tercero</td>
                    <td class="has-text-right">
                      <a
                         class="button is-warning is-small"> <i class="far fa-eye mr-1"></i>Visualizar</a>
                      <a class="button is-danger is-small"
                         >

                        <i class="fas fa-trash-alt mr-1"></i>Eliminar
                      </a>

                      <a data-target="cambiar-grado"
                         class="button is-success is-small"> <i
                              class="fas fa-address-card mr-1"></i>Grado</a></td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
            <!-- Aqui no se toca-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- aqui va el footer-->
  <footer th:replace="layout/footer :: footer"></footer>

</main>



<!-- aqui va el script de jquery-->
<script th:replace="layout/scripts :: script"></script>




</body>
</html>